body {
    background-color: #ffc3ca;
    font-family: "Nunito", sans-serif;
}

#headingGroup h2 {
    font-size: 4rem;
    font-weight: 100;
}

#headingGroup span {
    color: #dc4153;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
}

#mainNavbar .navbar-brand {
    font-size: 1.5rem;
    color: #dc4153;
    font-weight: 100;
}

#mainNavbar .nav-link {
    color: white;
    transition: 500ms;
}

#mainNavbar .nav-link:hover {
    color: #dc4153;
}

@media (max-width: 1250px) {
    #headingGroup h2 {
        font-size: 3rem;
    }
}