body {
    background-color: #ffc3ca;
    font-family: "Nunito", sans-serif;
}

h2 {
    font-size: 4rem;
    font-weight: 100;
    color: white;
}

.text h2 {
    font-size: 3rem;
}

.text p {
    font-size: 1.2rem;
    font-weight: 100;
    line-height: 2;
    color: #dc4153;
}

.content {
    margin-top: 100px;
}

#headingGroup span {
    color: #dc4153;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
}

#mainNavbar .navbar-brand {
    font-size: 1.5rem;
    color: #dc4153;
    font-weight: 100;
}

#mainNavbar .nav-link {
    color: white;
    transition: 500ms;
}

#mainNavbar .nav-link:hover {
    color: #dc4153;
}

@media (max-width: 1250px) {
    #headingGroup h2 {
        font-size: 3rem;
    }

    .text p {
        font-size: 0.8rem;
    }

    .text h2 {
        font-size: 2rem;
    }

}